<mat-tab-group  class="settings-tab-group"
                *ngIf="{
                course: courseService.currentCourse$ | async,
                leaderboard: scorecardService.leaderboard$ | async
                } as data">

  <mat-tab label="Enter Scores">
    <ng-template mat-tab-label>
      <mat-icon>edit</mat-icon>
      Enter Scores
    </ng-template>
    <isag-enter-scores [course]="data.course"></isag-enter-scores>
  </mat-tab>

  <mat-tab label="Leaderboard">
    <ng-template mat-tab-label>
      <mat-icon>scoreboard</mat-icon>
      Leaderboard
    </ng-template>
    <isag-live-leaderboard [leaderboard]="data.leaderboard" [course]="data.course"></isag-live-leaderboard>
  </mat-tab>

</mat-tab-group>
