<mat-tab-group class="tab-group" [selectedIndex]="selectedIndex" (selectedTabChange)="updateQueryParam($event)">

  <mat-tab label="Leaderboard">
    <ng-template mat-tab-label>
      <mat-icon>scoreboard</mat-icon>
      Leaderboard
    </ng-template>
    <isag-live-leaderboard></isag-live-leaderboard>
  </mat-tab>

  <mat-tab label="Enter Scores">
    <ng-template mat-tab-label>
      <mat-icon>edit</mat-icon>
      Enter Scores
    </ng-template>
    <isag-enter-scores></isag-enter-scores>
  </mat-tab>

</mat-tab-group>
