<div class="row" (click)="editingHandicap = false;">
  <div *ngIf="index">{{index}}.</div>
  <div class="user-avatar-container" *ngIf="showAvatars">
    <img *ngIf="player.avatarUrl" class="avatar-image" [src]="player.avatarUrl" alt="user image"/>
  </div>
  <div class="list-title">
    <div class="right-space-10">{{ player.firstName + " " + player.lastName }}</div>
    <mat-chip-list *ngIf="player.yearsWon?.length">
      <mat-chip selected *ngFor="let year of player.yearsWon">
        {{ year }}
        <mat-icon svgIcon="jacket" class="isag-icon"></mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
  <div class="handicap" isagStopPropagation>
   <div class="pointer" *ngIf="!editingHandicap; else handicapInput" (click)="editingHandicap = true;">
     <span *ngIf="player.handicap > 0">+</span>
     {{ player.handicap | absoluteValue }}
   </div>
    <ng-template #handicapInput>
      <mat-form-field class="handicap-form">
        <span matPrefix *ngIf="player.handicap > 0">+</span>
        <input matInput type="number" [(ngModel)]="player.handicap"
               (blur)="handicapUpdate.emit(player.handicap)"
               aria-label="handicap" name="handicap">
      </mat-form-field>
    </ng-template>
  </div>

</div>
