<div class="row" (click)="editingHandicap = false;">
  <div *ngIf="index">{{index}}.</div>
  <div class="user-avatar-container" *ngIf="showAvatars">
    <img *ngIf="player.avatarUrl" class="avatar-image" [src]="player.avatarUrl" alt="user image"/>
  </div>
  <div class="list-title">
    <div>{{ player.firstName + " " + player.lastName }}</div>
    <isag-winner [player]="player"></isag-winner>
  </div>
  <div class="handicap" isagStopPropagation>
   <div class="pointer" *ngIf="!editingHandicap; else handicapInput" (click)="editingHandicap = true;">
     <span *ngIf="player.handicap > 0">+</span>
     {{ player.handicap | absoluteValue }}
   </div>
    <ng-template #handicapInput>
      <mat-form-field class="handicap-form">
        <span matPrefix *ngIf="player.handicap > 0">+</span>
        <input matInput type="number" [(ngModel)]="player.handicap"
               (blur)="handicapUpdate.emit(player.handicap)"
               aria-label="handicap" name="handicap">
      </mat-form-field>
    </ng-template>
  </div>

  <ng-container *ngIf="showCourseHandicap">
    <div class="handicap">
      <span *ngIf="player.courseHandicap > 0">+</span>
      {{ player.courseHandicap | absoluteValue }}
    </div>

    <div class="handicap playing-handicap">
      <span *ngIf="player.playingHandicap > 0">+</span>
      {{ player.playingHandicap | absoluteValue }}
    </div>
  </ng-container>



</div>
