@import '../../../../colors';
@import '../../../../media-queries';
.row {
  display: flex;
  align-items: center;
}

.user-avatar-container {
  height: 32px;
  width: 32px;
  margin-right: 16px;

  .avatar-image {
    height: auto;
    width: 100%;
  }
}

.handicap {
  width: 60px;
  display: flex;
  justify-content: center;
}

:host {
  flex: 1;
}

.playing-handicap {
  font-size: 18px;
  font-weight: 500;
  color: $isag-green;
}

@include lt-sm() {
  .handicap {
    display: none;
  }
  .playing-handicap {
    display: block;
    width: 40px;
  }
}
