<mat-spinner color="accent" *ngIf="spinner"></mat-spinner>

<mat-card class="detail-card" cdkDropListGroup>
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="close.emit()" matTooltip="Close"
            matTooltipPosition="above" matTooltipClass="isag-tooltip" aria-label="Close player details">
      <mat-icon>chevron_right</mat-icon>
    </button>
    <mat-divider [vertical]="true" class="vertical-divider"></mat-divider>
    <h2 class="flex1">{{ year.year }}</h2>
    <button mat-icon-button (click)="deleteYear()" class="red" matTooltip="{{'Delete ' + year.year}}"
            matTooltipPosition="before" matTooltipClass="isag-tooltip" aria-label="Delete Year"
            *ngIf="stateService.isAdmin">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-toolbar>

  <mat-divider></mat-divider>

  <div class="column-gt-xs top-space-15">
    <mat-form-field class="left-input">
      <mat-label>Date of Competition</mat-label>
      <input matInput [matDatepicker]="picker" aria-label="date of competition" (focus)="picker.open()"
             [(ngModel)]="year.date" [readOnly]="!stateService.isAdmin">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker [disabled]="!stateService.isAdmin"></mat-datepicker>
    </mat-form-field>
    <div class="fill-remaining-space"></div>
    <isag-player-multiple-select [playersToFilterOut]="allPlayers"
                                 (selectPlayers)="addPlayers($event)"></isag-player-multiple-select>
  </div>

  <mat-toolbar class="header-btns">
    <h4 class="flex1 name-header">A Players</h4>
    <h4 class="handicap-header">Handicap</h4>
  </mat-toolbar>
  <mat-list id="aPlayers" class="isag-list" cdkDropList [cdkDropListData]="aPlayers" (cdkDropListDropped)="drop($event)">
    <mat-list-item class="list-item" cdkDrag *ngFor="let player of aPlayers
    | orderBy: 'handicap' : false; let i = index;">
      <div class="drag-handle" cdkDragHandle fxHide.lt-sm
           [class.invisible]="player.handicap !== bPlayers[0].handicap"
           [cdkDragHandleDisabled]="player.handicap !== bPlayers[0].handicap">
        <mat-icon>drag_indicator</mat-icon>
      </div>
      <isag-player [index]="i + 1"
                   [player]="player"></isag-player>
      <button mat-icon-button (click)="deletePlayer(player)" *ngIf="stateService.isAdmin"
              matTooltip="{{'Delete ' + player.firstName}}"
              matTooltipPosition="before" matTooltipClass="isag-tooltip" aria-label="Delete Player">
        <mat-icon>close</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>

  <mat-toolbar class="header-btns">
    <h4 class="flex1 name-header">B Players</h4>
    <h4 class="handicap-header">Handicap</h4>
  </mat-toolbar>
  <mat-list id="bPlayers" class="isag-list" cdkDropList [cdkDropListData]="bPlayers" (cdkDropListDropped)="drop($event)">
    <mat-list-item class="list-item" cdkDrag *ngFor="let player of bPlayers
    | orderBy: 'handicap' : false; let i = index;">
      <div class="drag-handle" cdkDragHandle fxHide.lt-sm
           [class.invisible]="player.handicap !== aPlayers[aPlayers.length - 1].handicap"
           [cdkDragHandleDisabled]="player.handicap !== aPlayers[aPlayers.length - 1].handicap">
        <mat-icon>drag_indicator</mat-icon>
      </div>
      <isag-player [index]="i + 1"
                   [player]="player"></isag-player>
      <button mat-icon-button (click)="deletePlayer(player)" *ngIf="stateService.isAdmin"
              matTooltip="{{'Delete ' + player.firstName}}"
              matTooltipPosition="before" matTooltipClass="isag-tooltip" aria-label="Delete Player">
        <mat-icon>close</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</mat-card>
