.isag-card, .scorecard-detail {
  overflow: auto;
}

table {
  width: 100%;
  font-size: 16px;
}

.team-row {
  &:hover {
    cursor: pointer;
  }
}

tr.detail-row {
  height: 0;
}

tr.team-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.team-row:not(.example-expanded-row):active {
  background: #efefef;
}

.team-row td {
  border-bottom-width: 0;
}

.scorecard-detail {
  overflow: scroll;
}

.detail-td {
  padding: 0 !important;
}


.team-names-th {
  position: sticky;
  left: 68px;
}



.center-align {
  text-align: center;
}


tr.mat-row {
//  height: 50px;
}

.not-mobile {
  .player-names {
    align-items: center;
    font-size: 16px;
    .name {
      display: flex;
      align-items: center;
    }
  }
  th.mat-header-cell {
    font-size: 14px;
    font-weight: 600;
  }

}

.rank-cell {
  min-width: 50px
}

.larger-text {
  font-size: 20px;
  font-weight: 500;
}
