<div class="container">

  <mat-card class="isag-card">
    <button mat-raised-button color="primary" *ngIf="stateService.isAdmin && teamScorecards && !teamScorecards.length"
            (click)="scorecardService.createTeamScorecards(course._id).subscribe()">
      Create Team Scorecards
    </button>


    <table mat-table [dataSource]="leaderboard" multiTemplateDataRows class="mat-elevation-z8">

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>Pos.</th>
        <td mat-cell *matCellDef="let scorecard">{{ 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="team">
        <th mat-header-cell *matHeaderCellDef>Team</th>
        <td mat-cell *matCellDef="let scorecard">
          <div class="player-names">
            <div class="name">{{scorecard.team.playerA.firstName + ' ' + scorecard.team.playerA.lastName}}</div>
            <div class="name">{{scorecard.team.playerB.firstName + ' ' + scorecard.team.playerB.lastName}}</div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="totalNet">
        <th mat-header-cell *matHeaderCellDef>Total Net</th>
        <td mat-cell *matCellDef="let scorecard">{{ scorecard.currentNetToPar }}</td>
      </ng-container>

      <ng-container matColumnDef="thru">
        <th mat-header-cell *matHeaderCellDef>Thru</th>
        <td mat-cell *matCellDef="let scorecard">{{ scorecard.thru }}</td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let scorecard" [attr.colspan]="leaderboardColumns.length" class="detail-td">
          <div class="scorecard-detail"
               [@detailExpand]="scorecard == expandedScorecard ? 'expanded' : 'collapsed'">
            <isag-course-card [course]="course" [showNet]="true">

              <tr isag-team-scores
                  [netScores]="scorecard.teamNetScores"
                  [frontNineNetScore]="scorecard.frontNineNetScore"
                  [backNineNetScore]="scorecard.backNineNetScore"
                  [totalNetScore]="scorecard.totalNetScore"
                  [frontNine]="course.frontNine"
                  [backNine]="course.backNine"></tr>


              <tr isag-player-scores
                  name="{{scorecard.team.playerA.firstName + ' ' + scorecard.team.playerA.lastName}}"
                  [scores]="scorecard.playerAScores"
                  [frontNine]="course.frontNine"
                  [backNine]="course.backNine"></tr>

              <tr isag-player-scores
                  name="{{scorecard.team.playerB.firstName + ' ' + scorecard.team.playerB.lastName}}"
                  [scores]="scorecard.playerBScores"
                  [frontNine]="course.frontNine"
                  [backNine]="course.backNine"></tr>

            </isag-course-card>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="leaderboardColumns;  sticky: true"></tr>
      <tr mat-row *matRowDef="let scorecard; columns: leaderboardColumns;"
          class="team-row"
          [class.example-expanded-row]="expandedScorecard === scorecard"
          (click)="expandedScorecard = expandedScorecard === scorecard ? null : scorecard">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>

  </mat-card>

</div>
