@import '../../../colors';

.score-td {
  position: relative;
  padding: 5px;
}
.stoke-indicator {
  position: absolute;
  top: -5px;
  right: 1px;
  font-size: 10px;
  font-weight: 700;
  &.negative {
    color: $isag-red;
  }
}
