  <th class="sticky-header">
    <div class="player-names">
      <div class="name">{{ name }}</div>
    </div>
  </th>

  <td *ngFor="let hole of frontNine | keyValue" class="score-td">
    <div class="score" [ngClass]="scoreClass[hole?.key]">
      {{scores.grossScores[hole?.key]}}
    </div>
    <div *ngIf="scores.shotsByHole[hole?.key]" class="stoke-indicator"
         [class.negative]="scores.shotsByHole[hole?.key] < 0">*</div>
  </td>

  <th>{{scores.frontNineGrossScore}}</th>

  <td *ngFor="let hole of backNine | keyValue" class="score-td">
    <div class="score" [ngClass]="scoreClass[hole?.key]">
      {{scores.grossScores[hole?.key]}}
    </div>
    <div *ngIf="scores.shotsByHole[hole?.key]" class="stoke-indicator"
         [class.negative]="scores.shotsByHole[hole?.key] < 0">*</div>
  </td>

  <th>{{scores.backNineGrossScore}}</th>
  <th>{{scores.totalGrossScore}}</th>
  <th>{{scores.totalNetScore}}</th>
