@import '../../../colors';
@import '../../../media-queries';

.score-td {
  position: relative;
  padding: 5px;
}
.stoke-indicator {
  position: absolute;
  top: -5px;
  right: 1px;
  font-size: 10px;
  font-weight: 700;
  &.negative {
    color: $isag-red;
  }
}

@include lt-sm() {
  .player-names {
    font-size: 12px;
  }
  .left-th {
    padding: 5px 3px !important;
  }
}
