@import "../../colors";
@import "../../media-queries";

.container {
  flex-direction: column;
}

.year-select {
  width: 120px;
  margin-right: 16px;
}

mat-card-header {
  button {
    margin-right: 16px;
  }
}

.pointer:hover {
  cursor: pointer;
}

.even {
  background: $white;
  th, td {
    background: #fff8e3;
  }
}

.ranking {
  font-size: 1.3em;
  width: 50px;
}



.rank-btn {
  display: none;
  position: absolute;
  z-index: 5;
  top: 3px;
  right: 12px;
}

.cancel-btn {
  transform: scale(.7);
  position: absolute;
  z-index: 5;
  top: -10px;
  right: -12px;
}

.edit-card-btn {
  display: none;
}

.team-names-th {
  position: sticky;
  left: 68px;
  display: flex;
  justify-content: center;
  &:hover {
    .player-names {
      display: none;
    }

    .edit-card-btn {
      display: block;

    }
  }
}

@include lt-sm() {
  .team-names-th {
    left: 38px;
  }

  .ranking {
    font-size: 1em;
    width: 20px;
  }

  .scorecard-table {
    .team-names-th, .individual-name-th {
      padding: 5px 2px;
    }
  }
}

.rank-select {
  width: 50px;
}

.team-rank-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-names {
  flex: 1;
  text-align: center;
}

.individual-name-th {
  background-color: $white;
  position: sticky;
  left: 53px;
}

.player-name-th {

}

.individual-rank {
  width: 35px;
}


.player {
  flex: 1;
  display: flex;
  align-items: center;
}

.list-ranking, .list-total {
  width: 100px;
  font-weight: 900;
}

.list-total {
  width: 50px;
  text-align: right;
  margin-right: 50px;
}

.list-ranking, .list-total {
  width: 100px;
  font-weight: 900;
}

@include gt-sm() {
  .player-results-list {
    ::ng-deep .mat-list-item-content {
      font-size: 1.3em;
    }
  }
  .player mat-icon {
    margin-left: 20px;
    transform: scale(1.8);
  }
}

@include lt-md() {
  .list-ranking, .list-total {
    width: 40px;
    font-weight: 900;
  }
  .list-total {
    margin-right: 0;
  }

  .isag-icon {
    margin-left: 5px;
    transform: scale(1.2);
  }
}

.winner, .loser {
  transform: scale(1.8);
}

.no-hover.list-item:hover, {
  background-color: inherit;
}

.odd-item, .odd-item.no-hover.list-item:hover {
  background: #dedede;
}

.list-item {
  cursor: inherit;
}

.player-results-list .list-item {
  height: 40px;
  @include lt-sm() {
    padding: 3px 8px !important;
    height: auto;
  }
  .mat-list-item-content {
    padding: 0 0 0 10px !important;
  }
}

.player-divs {
  flex: 1;
  display: flex;
  @include lt-sm() {
    flex-direction: column;
  }
}


.select-button-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}



.birdie {
  height: 21px;
  width: 22px;
  border: 2px solid red;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.eagle {
  height: 21px;
  width: 22px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid red;
  background-color: red;
  color: #fff;
}

.double-eagle {
  height: 21px;
  width: 22px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  border:  2px solid $isag-blue;
  background-color: $isag-blue;
  color: #fff;
}


.bogie {
  height: 21px;
  width: 22px;
  border: 2px solid #000;
  margin-left: auto;
  margin-right: auto;
}

.double-bogie {
  height: 18px;
  width: 18px;
  border: 4px double #000;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2rem;
}

.other {
  height: 21px;
  width: 22px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #000;
  background-color: #000;
  color: #fff;
}

