@import "../../colors";
.container {
  flex-direction: column;
}

.year-select {
  width: 120px;
  margin-right: 16px;
}

mat-card-header {
  button {
    margin-right: 16px;
  }
}

.team-card-content {
  padding-top: 0;
}

/*.top-border {
  th, td {
    border-top: 5px solid #dee2e6;
  }
}*/

.pointer:hover {
  cursor: pointer;
}

.even {
  background-color: #4caf502e;
}

.ranking {
  font-size: 1.7em;
}
