@import "../../colors";

.container {
  flex-direction: column;
}

.year-select {
  width: 120px;
  margin-right: 16px;
}

mat-card-header {
  button {
    margin-right: 16px;
  }
}

.team-card-content {
  padding-top: 0;
}

/*.top-border {
  th, td {
    border-top: 5px solid #dee2e6;
  }
}*/

.pointer:hover {
  cursor: pointer;
}

.even {
  background: $white;
  th, td {
    background: #fff8e3;
  }
}

.ranking {
  font-size: 1.3em;
}

.rank-btn {
  display: none;
  position: absolute;
  z-index: 5;
  top: 3px;
  right: 12px;
}

.cancel-btn {
  transform: scale(.7);
  position: absolute;
  z-index: 5;
  top: -10px;
  right: -12px;
}

.ranking-cell {
  width: 50px;

  &:hover {
    .ranking {
      display: none;
    }

    .rank-btn {
      display: inline-block;
    }
  }
}

.edit-card-btn {
  display: none;
}

.team-names-th {
  display: flex;
  justify-content: center;
  &:hover {
    .player-names {
      display: none;
    }

    .edit-card-btn {
      display: block;

    }
  }
}

.rank-select {
  width: 50px;
}

.team-rank-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-names {
  flex: 1;
  text-align: center;
}

.individual-name-th {
  background-color: $white;
  position: sticky;
  left: 53px;
}

.player-name-th {

}

.individual-rank {
  width: 35px;
}
