<div class="container directory-page">
  <mat-card class="isag-card directory-card">
    <mat-card-header>
      <mat-card-title>
        Winners Circle
      </mat-card-title>
    </mat-card-header>

    <mat-list class="winners-list">
      <mat-list-item class="w-list-item no-hover no-pointer" *ngFor="let winner of winners" disableRipple>
        <div class="flex1">{{ winner.firstName + " " + winner.lastName }}</div>
        <isag-winner [player]="winner"></isag-winner>

      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
