<div class="container directory-page">
  <mat-card class="isag-card directory-card">
    <mat-card-header>
      <mat-card-title>
        Winners Circle
      </mat-card-title>
    </mat-card-header>

    <mat-list class="winners-list">
      <mat-list-item class="w-list-item no-hover no-pointer" *ngFor="let winner of winners" disableRipple>
        <div>{{ winner.firstName + " " + winner.lastName }}</div>
        <div class="fill-remaining-space"></div>
        <mat-chip-list>
          <mat-chip selected *ngFor="let year of winner.yearsWon">
            {{ year }}
            <mat-icon svgIcon="jacket" class="isag-icon"></mat-icon>
          </mat-chip>
        </mat-chip-list>

      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
