<isag-top-navbar>
  <button mat-icon-button (click)="snav.toggle()" class="hide-gt-sm">
    <mat-icon>menu</mat-icon>
  </button>
</isag-top-navbar>
<mat-sidenav-container class="example-sidenav-container" autosize>

  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches"
               [fixedInViewport]="mobileQuery.matches" [fixedTopGap]="mobileQuery.matches ? 0 : 56">

    <mat-nav-list [class.closed]="!opened">
      <a mat-list-item routerLink="leaderboard" routerLinkActive="active"
         (click)="closeSideNav()" *ngIf="!stateService.year.scoresConfirmed">
        <mat-icon>scoreboard</mat-icon>
        <span class="lint-title">leaderboard</span>
      </a>
      <a mat-list-item routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
         (click)="closeSideNav()">
        <mat-icon>emoji_events</mat-icon>
        <span class="lint-title">Results</span>
      </a>
      <a mat-list-item routerLink="/teams" routerLinkActive="active" (click)="closeSideNav()">
        <mat-icon>sports_kabaddi</mat-icon>
        <span class="lint-title">Teams</span>
      </a>
      <a mat-list-item routerLink="/players" routerLinkActive="active" (click)="closeSideNav()">
        <mat-icon>people</mat-icon>
        <span class="lint-title">Players</span>
      </a>
      <a mat-list-item routerLink="/calcutta" routerLinkActive="active" (click)="closeSideNav()">
        <mat-icon>attach_money</mat-icon>
        <span class="lint-title">Calcutta</span>
      </a>

      <a mat-list-item routerLink="/winners-circle" routerLinkActive="active" (click)="closeSideNav()">
        <mat-icon>military_tech</mat-icon>
        <span class="lint-title">Winners Circle</span>
      </a>

      <a mat-list-item routerLink="/rules" routerLinkActive="active" (click)="closeSideNav()">
        <mat-icon>format_list_numbered</mat-icon>
        <span class="lint-title">Rules</span>
      </a>
      <!--<mat-divider *ngIf="stateService.isAdmin"></mat-divider>
      <a mat-list-item routerLink="/settings" routerLinkActive="active" *ngIf="stateService.isAdmin"
         (click)="closeSideNav()">
        <mat-icon>settings</mat-icon>
        <span class="lint-title">Settings</span>
      </a>-->

      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/settings" routerLinkActive="active"
         (click)="closeSideNav()">
        <mat-icon>settings</mat-icon>
        <span class="lint-title">Settings</span>
      </a>

      <ng-container class="hide-gt-sm">
        <mat-divider class="hide-gt-sm"></mat-divider>
        <a mat-list-item (click)="authService.loginOrSignUp('/login'); closeSideNav()" *ngIf="!stateService.currentUser">
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </a>
        <a mat-list-item (click)="authService.loginOrSignUp('/signup'); closeSideNav()" *ngIf="!stateService.currentUser">
          <mat-icon>person_add</mat-icon>
          <span>Sign Up</span>
        </a>
        <a mat-list-item (click)="authService.logout(); closeSideNav()" *ngIf="stateService.currentUser">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </a>
      </ng-container>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main-content" [class.sidenav-closed]="!opened">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
