@import '../../../utils';

.header-btns > h4, .year-list-item  div {
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center;
}

.header-btns {
  height: 32px;
  padding: 0;

  h4 {
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
  }
}


.isag-list .mat-list-item {
  padding: 0 !important;
}

.years-card {
  flex: 1;
  /* used to make the ellipsis stuff work */
  min-width: 0;
  /* Used to make the flexbox items grow to their own height instead of their parent's
   ***Needs to be 0% not just 0***  */
  height: 0%;
  padding: 0 !important;
}


.hide-lt-md {
  @include lt-md() {
    display: none !important;
  }
}

.hide-lt-sm {
  @include lt-sm() {
    display: none !important;
  }
}


.hide-gt-xs {
  @include gt-xs() {
    display: none !important;
  }
}

.hide-gt-sm {
  @include gt-sm() {
    display: none !important;
  }
}
