<div class="container directory-page">
  <mat-card class="isag-card directory-card" [class.hide-lt-md]="selectedPlayer">
    <mat-card-header>
      <mat-card-title>
        <span>{{  selectedYear.year ? selectedYear.year : 'All' }}</span>&nbsp;Players
      </mat-card-title>
      <div class="fill-remaining-space"></div>
      <mat-form-field>
        <mat-label>Year</mat-label>
        <mat-select [(value)]="selectedYear" [compareWith]="yearService.yearsAreSameById">
          <mat-option [value]="yearAll">All</mat-option>
          <mat-option *ngFor="let year of yearService.years | hidePrivateYears : stateService.isAdmin" [value]="year">
            {{ year.year }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="openAddPlayerDialog()"
              *ngIf="stateService.isAdmin"
              matTooltipClass="isag-tooltip" matTooltipPosition="before" matTooltip="Add Player">
        <mat-icon>person_add</mat-icon>
        ADD PLAYER
      </button>
    </mat-card-header>
    <mat-toolbar class="header-btns">
      <h4 class="flex1 name-header" [style.margin-left]="selectedYear.year ? '19px' : '8px'">Name</h4>
      <h4 class="handicap">Handicap</h4>
    </mat-toolbar>
    <mat-list class="isag-list">
      <mat-list-item class="list-item no-hover" matRipple [class.opened]="selectedPlayer?._id === player._id"
                     *ngFor="let player of playerService.allPlayers | filterPlayersByYear: selectedYear
                      | sortByName; let i = index; let odd = odd;" (click)="selectPlayer(player, i)" disableRipple>
        <isag-player [index]="selectedYear.year ? i + 1 : null"
                     [player]="player"></isag-player>
      </mat-list-item>
    </mat-list>
  </mat-card>

  <div class="flex1" *ngIf="selectedPlayer">
    <div class="detail-view">
      <isag-player-detail [player]="selectedPlayer"
                          [canEdit]="stateService.isAdmin || stateService.currentUser?.playerId === selectedPlayer._id"
                          (close)="closePlayerDetails()">
      </isag-player-detail>
    </div>
  </div>
</div>
