@import '../../media-queries';

.isag-card {
  flex: 1;
}

.mat-list-item {
  padding: 0 16px !important;
}



.name-header {
  margin-left: 53px;
}

.teams-header {
  width: 195px;
}

.isag-list {
  padding-top: 0;
}


.hide-mobile {
  @include lt-md {
    display: none;
  }
}

mat-form-field {
  width: 120px;
  margin-right: 16px;
}

mat-card-header {
  button {
    margin-right: 16px;
  }
}

/*.mat-list-item:nth-child(2n) {
  background-color: #dedede;
}*/

.no-hover:hover {
   background-color: inherit !important;
}

.odd-item, .odd-item.no-hover.list-item:hover {
  background: #dedede;
}

.mat-list-item:nth-child(2n) {
  &, &.no-hover {
    background-color: #dedede !important;
  }
}
