@import '../../media-queries';

.isag-card {
  flex: 1;
}

.mat-list-item {
  padding: 0 16px !important;
}

.user-avatar-container {
  height: 32px;
  width: 32px;
  margin-right: 16px;

  .avatar-image {
    height: auto;
    width: 100%;
  }
}

.name-header {
  margin-left: 53px;
}

.teams-header {
  width: 195px;
}

.handicap {
  width: 100px;
  display: flex;
  justify-content: center;
}

.isag-list {
  padding-top: 0;
}


.hide-mobile {
  @include lt-md {
    display: none;
  }
}

mat-form-field {
  width: 120px;
  margin-right: 16px;
}

mat-card-header {
  button {
    margin-right: 16px;
  }
}

/*.mat-list-item:nth-child(2n) {
  background-color: #dedede;
}*/
