<mat-spinner color="accent" *ngIf="spinner"></mat-spinner>
<h2 mat-dialog-title>Add New Year</h2>
<mat-dialog-content>
  <div fxFlex fxFlex.gt-xs="column" fxLayout="column" fxLayout.gt-xs="row">
    <mat-form-field class="left-input">
      <mat-select [(ngModel)]="year.year" (ngModelChange)="setDate()">
        <mat-option *ngFor="let year of yearService.availableYears" [value]="year"
                    [disabled]="yearService.existingYears[year]">
          {{ year }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="right-input">
      <mat-label>Date of Competition</mat-label>
      <input matInput [matDatepicker]="picker" aria-label="date of competition" (focus)="picker.open()"
             [(ngModel)]="year.date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button mat-raised-button (click)="dialogRef.close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="addYear()" [disabled]="!year.year || !year.date">Add</button>
</mat-dialog-actions>
