@import '../../../../colors';
@import '../../../../media-queries';

.table-wrapper {
  overflow-x: auto;
}

.scorecard-table{
  width: 100%;
  border-spacing: 0;

  td, th {
    padding: 5px;
    border: 1px solid #dee2e6;
  }
}

.scorecard-table.main-table {
  .small-view {
    border: none;
    background-color: transparent;
  }
}

.tees {
  margin-right: 10px;
}

.hole-headers {
  th {
    background-color: $isag-green;
    color: #fff;
    width: 60px;
  }
}

.small-view {
  display: none;
}

/*

.small-table {
  display: none;
}

@include lt-lg() {
  .back-nine {
    display: none;
  }
  .small-table {
    display: block;
  }
}*/

