@import '../../media-queries';

.year-select {
   width: 120px;
    margin-right: 16px;
}

.team-row {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.team-player {
  flex: 1;
  display: flex;
  align-items: center;
}

.divider {
  content: "";
  height: 45px;
  width: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  margin: 10px;
  &.no-border {
    border-left: none;
  }
}

.handicap-form {
  width: 70px;
}

.handicap {
  width: 60px;
  text-align: center;
}

.isag-list {
}

.player-input {
  width: 100%;
  padding: 8px;
}

.mat-list-base .auto-height {
  height: auto;
}

.team-number {
  font-weight: 900;
  font-size: 1.2em;
  margin-left: 1em;
  width: 30px;
}

.edit-btn {
  span {
    mat-icon {
      margin-right: 4px;
    }
    display: flex;
    align-items: center;
  }
}

mat-card-header {
  button {
    margin-right: 16px;
  }
}

.player-div {
  display: flex;
  flex: 1;
  align-items: center;
}

@include lt-md() {
  .mat-list-base .mat-list-item {
    height: auto;
  }
  .team-row {
    flex-direction: column;
  }
  .divider {
    display: none;
  }
  .player-div {
    padding: 3px;
  }

  .hide-xs {
    display: none;
  }
};

.show-xs {
  display: none;
  @include lt-md() {
    display: block;
  }
}


.mat-list-item:nth-child(2n) {
  &, &.no-hover {
    background-color: #dedede !important;
  }
}

mat-card-footer {
  margin: 0;
}

.header-btns {
  padding-left: 56px;
}


.list-item .list-title {
  margin: 0;
}
