<div class="container teams-page">
  <mat-card class="isag-card teams-card">
    <mat-card-header>
      <mat-card-title>
        <span>{{  stateService.year.year }}</span>&nbsp;Teams
      </mat-card-title>
      <div class="fill-remaining-space"></div>
      <isag-year-select (yearChange)="getTeamsAndPlayers()"></isag-year-select>
      <button mat-button color="primary" class="edit-btn" (click)="toggleEdit()"
              *ngIf="stateService.isAdmin" matTooltipClass="isag-tooltip" matTooltipPosition="before"
              matTooltip="{{editing ? 'Save' : 'Edit' + ' Teams'}}">
        <span *ngIf="!editing">
          <mat-icon>edit</mat-icon>
          EDIT</span>
        <span *ngIf="editing">
          <mat-icon>save</mat-icon>
          SAVE</span>
      </button>
    </mat-card-header>

    <mat-toolbar class="header-btns">
      <h4 class="flex1 a-player-header hide-xs">A Players</h4>
      <h4 class="flex1 a-player-header show-xs">Players</h4>
      <h4 class="handicap hide-xs">Handicap</h4>
      <ng-container *ngIf="!editing">
        <h4 class="handicap hide-xs">C. H.</h4>
        <h4 class="handicap hide-xs">Shots</h4>
      </ng-container>

      <div class="divider no-border  hide-xs"></div>
      <h4 class="flex1 b-player-header hide-xs">B Players</h4>
      <h4 class="handicap">Handicap</h4>
      <ng-container *ngIf="!editing">
        <h4 class="handicap hide-xs">C. H.</h4>
        <h4 class="handicap hide-xs">Shots</h4>
      </ng-container>
    </mat-toolbar>

    <mat-list class="isag-list" *ngIf="teams?.length">
      <mat-list-item class="list-item no-hover" *ngFor="let team of teams; let i = index;"
                     [disableRipple]="true" [class.auto-height]="editing" [class.no-pointer]="!editing">
        <div class="team-number">{{i + 1}}.</div>
        <div class="team-row">
          <div class="team-player">
            <div class="user-avatar-container">
              <img *ngIf="team.playerA?.avatarUrl" class="avatar-image" [src]="team.playerA.avatarUrl"
                   alt="user image"/>
            </div>
            <div *ngIf="editing" class="player-div">
              <div class="list-title">
                <mat-form-field class="player-input">
                  <input matInput placeholder="A Player" value="" [(ngModel)]="team.playerA"
                         [matAutocomplete]="playerA" aria-label="A Player"
                         (ngModelChange)="updateSub.next([team, 'playerA'])">
                  <mat-autocomplete #playerA="matAutocomplete" [displayWith]="getPlayerName">
                    <mat-option class="player-option" *ngFor="let player of aPlayers; let i = index;"
                                [value]="player" [class.hidden]="usedAPLayerIds[player._id]">
                      <div>{{i + 1}}. {{player.firstName}} {{player.lastName}}</div>
                      <div>
                        <span matPrefix *ngIf="team.playerB?.handicap > 0">+</span>
                        {{player.handicap | absoluteValue}}
                      </div>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <mat-form-field class="handicap-form">
                <span matPrefix *ngIf="team.playerA?.handicap > 0">+</span>
                <input matInput type="number" placeholder="Handicap" [(ngModel)]="team.playerA.handicap"
                       (ngModelChange)="updateSub.next([team, 'playerA'])"
                       aria-label="handicap" name="handicap">
              </mat-form-field>

            </div>
            <div *ngIf="!editing" class="player-div">
              <div class="list-title">
                {{team.playerA.firstName}} {{team.playerA.lastName}}
              </div>
              <div class="handicap">
                <span *ngIf="team.playerA?.handicap > 0">+</span>{{ team.playerA?.handicap | absoluteValue }}
              </div>
              <div class="handicap  hide-xs">
                <span matPrefix *ngIf="team.playerA?.courseHandicap > 0">+</span>
                {{ team.playerA?.courseHandicap | absoluteValue  }}
              </div>

              <div class="handicap hide-xs">
                {{ team.playerA?.numShots }}
              </div>
            </div>
          </div>

          <div class="divider"></div>

          <div class="team-player">
            <div class="user-avatar-container">
              <img *ngIf="team.playerB?.avatarUrl" class="avatar-image" [src]="team.playerB.avatarUrl"
                   alt="user image"/>
            </div>
            <div *ngIf="editing" class="player-div">
              <div class="list-title">
                <mat-form-field class="player-input">
                  <input matInput placeholder="B Player" value="" [(ngModel)]="team.playerB"
                         [matAutocomplete]="playerB" aria-label="B Player"
                         (ngModelChange)="updateSub.next([team, 'playerB'])">
                  <mat-autocomplete #playerB="matAutocomplete" [displayWith]="getPlayerName">
                    <mat-option class="player-option" *ngFor="let player of bPlayers; let i = index;" [value]="player"
                                [class.hidden]="usedBPLayerIds[player._id]">
                      <div>{{i + 1}}. {{player.firstName}} {{player.lastName}}</div>
                      <div>
                        <span matPrefix *ngIf="team.playerB?.handicap > 0">+</span>
                        {{player.handicap | absoluteValue}}
                      </div>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <mat-form-field class="handicap-form">
                <span matPrefix *ngIf="team.playerB?.handicap > 0">+</span>
                <input matInput type="number" placeholder="Handicap" [(ngModel)]="team.playerB.handicap"
                       (ngModelChange)="updateSub.next([team, 'playerB'])"
                       aria-label="handicap" name="handicap">
              </mat-form-field>
            </div>
            <div *ngIf="!editing" class="player-div">
              <div class="list-title">
                {{team.playerB.firstName}} {{team.playerB.lastName}}
              </div>
              <div class="handicap">
                <span *ngIf="team.playerB?.handicap > 0">+</span>{{ team.playerB?.handicap | absoluteValue }}
              </div>
              <div class="handicap hide-xs">
                <span matPrefix *ngIf="team.playerB?.courseHandicap > 0">+</span>
                {{ team.playerB?.courseHandicap | absoluteValue  }}
              </div>

              <div class="handicap hide-xs">
                {{ team.playerB?.numShots }}
              </div>
            </div>
          </div>
        </div>
        <button mat-icon-button (click)="deleteTeam(team, i)" *ngIf="editing"
                matTooltip="Delete Team"
                matTooltipPosition="before" matTooltipClass="isag-tooltip" aria-label="Delete Player">
          <mat-icon>close</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>

    <mat-card-footer *ngIf="stateService.isAdmin && editing">
      <mat-card-actions fxLayout="row" fxLayoutAlign="end end" class="actions">
        <button mat-raised-button color="primary" class="right-space-15" (click)="addTeam()"
                matTooltipClass="isag-tooltip" matTooltipPosition="before" matTooltip="Add Team">
          <mat-icon>add</mat-icon>
          ADD TEAM
        </button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>
</div>
