
mat-card mat-card-header {
  padding: 16px 0;
}

.year-chip {
  margin-right: 16px;
}

.right-16 {
  margin-right: 16px;
}

.Scorecard-name {
  font-weight: 700;

}

.course-info {
  font-weight: unset;
  display: flex;
  align-items: center;
  div {
    margin: 0 15px;
  }
}
