<div class="container courses-page">
  <mat-card class="isag-card courses-card">
    <mat-card-header>
      <mat-card-title>Courses</mat-card-title>
    </mat-card-header>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let course of courses; let i = index;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div>{{ course.name  }}</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <pre>{{course | json}}</pre>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>
