<mat-card class="detail-card">
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="close.emit()" matTooltip="Close"
            matTooltipPosition="above" matTooltipClass="isag-tooltip" aria-label="Close player details">
      <mat-icon>chevron_right</mat-icon>
    </button>
    <mat-divider [vertical]="true" class="vertical-divider"></mat-divider>
    <h2 class="person-name" fxFlex="1 1">{{ player.firstName + ' ' + player.lastName }}</h2>
    <button mat-icon-button (click)="deletePlayer()" class="red" matTooltip="{{'Delete ' + player.firstName}}"
            matTooltipPosition="above" matTooltipClass="isag-tooltip" aria-label="Delete Player"
            *ngIf="stateService.isAdmin">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-toolbar>

  <mat-divider></mat-divider>

  <div fxLayout="row" fxLayoutAlign="end center" class="top-space-15" *ngIf="stateService.isAdmin">
    <mat-slide-toggle color="primary" [(ngModel)]="player.iSagWinner" (ngModelChange)="update('iSagWinner')">
      iSag Winner
    </mat-slide-toggle>
  </div>

  <div fxLayout="column" [class.top-space-15]="!stateService.isAdmin">
    <div fxFlex fxFlex.gt-xs="column" fxLayout="column" fxLayout.gt-xs="row">
      <mat-form-field fxFlex>
        <input matInput type="text"  placeholder="First Name" [(ngModel)]="player.firstName" required
               aria-label="first name" name="firstName" (ngModelChange)="updateSub.next('firstName')" [readonly]="!canEdit">
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput type="text" placeholder="Last Name" [(ngModel)]="player.lastName" required aria-label="last name"
               name="lastName" (ngModelChange)="updateSub.next('lastName')" [readonly]="!canEdit">
      </mat-form-field>
    </div>
    <div fxFlex fxFlex.gt-xs="column" fxLayout="column" fxLayout.gt-xs="row">
      <mat-form-field fxFlex>
        <span matPrefix *ngIf="player.handicap > 0">+</span>
        <input matInput type="number" placeholder="Handicap Index" [(ngModel)]="player.handicap" required
               aria-label="handicap" name="handicap" (ngModelChange)="updateSub.next('handicap')"
               [readonly]="!canEdit">
        <mat-hint align="start" *ngIf="canEdit">
          <strong>Remember most handicaps are negative.  E.g. A 10 is really a -10.</strong>
        </mat-hint>
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput type="tel" placeholder="Phone Number" [(ngModel)]="player.phoneNumber" aria-label="phone number"
               name="phone" (ngModelChange)="updateSub.next('phoneNumber')" [readonly]="!canEdit">
      </mat-form-field>
    </div>
    <div fxFlex fxFlex.gt-xs="column" fxLayout="column" fxLayout.gt-xs="row" class="top-space-30">
      <mat-form-field>
        <input matInput type="email" placeholder="Email" [(ngModel)]="player.email" aria-label="email" name="email"
               (ngModelChange)="updateSub.next('email')" [readonly]="!canEdit">
      </mat-form-field>
    </div>

    <div fxFlex fxFlex.gt-xs="column" fxLayout="column" fxLayout.gt-xs="row">
      <!--<mat-form-field fxFlex>
        <input matInput type="text" placeholder="Nickname" [(ngModel)]="player.nickname" aria-label="Nickname"
               name="nickName" (ngModelChange)="updateSub.next('nickname')">
      </mat-form-field>-->
      <mat-form-field fxFlex>
        <input matInput type="text"  placeholder="City" [(ngModel)]="player.city"
               aria-label="city" name="city" (ngModelChange)="updateSub.next('city')" [readonly]="!canEdit">
      </mat-form-field>
      <mat-form-field fxFlex class="state">
        <input matInput type="text"  placeholder="State" [(ngModel)]="player.state"
               aria-label="state" name="state" (ngModelChange)="updateSub.next('state')" [readonly]="!canEdit">
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" aria-label="date of birth" (focus)="picker.open()"
               [(ngModel)]="player.dateOfBirth" (ngModelChange)="update('dateOfBirth')" [readonly]="!canEdit">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year" [startAt]="startDate" [disabled]="!canEdit"></mat-datepicker>
      </mat-form-field>
    </div>

    <mat-form-field class="flex1">
      <mat-label>Bio</mat-label>
      <textarea matInput name="bio" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" aria-label="bio"
                [(ngModel)]="player.bio" (ngModelChange)="updateSub.next('bio')" [readonly]="!canEdit"></textarea>
    </mat-form-field>
  </div>
</mat-card>
