/*  Global Lists Styles */

mat-card {
  margin: 5px;

  mat-card-header {
    padding: 16px 0 0;
  }

  mat-card-title {
    font-size: 16px;
    font-weight: 500;
  }
}

.isag-card, isag-conversation-detail {
  flex: 1;
  /* used to make the ellipsis stuff work */
  min-width: 0;
  /* Used to make the flexbox items grow to their own height instead of their parent's
   ***Needs to be 0% not just 0***  */
  height: 0%;
  padding: 0 !important;

}

.isag-card {
  max-width: 1300px;
  &.detail-card {
    max-width: 1000px;
  }
}

.isag-list {
  min-height: 60px;
  display: block;
  border-radius: 4px;
  overflow: hidden;

  .mat-list-item {
    padding: 0 10px 0 5px !important;
    @media print {
      padding-top: 5px !important;
      padding-bottom: 5px !important;
      height: auto !important;
      border-bottom-color: #ddd;
    }
  }

  &.no-hover .mat-list-item {
    background-color: transparent;
  }
}

.list-item, .cdk-drag-preview {
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  cursor: pointer;
  background: white;
  font-size: 14px;

  &:last-child {
    border: none;
  }

  button {
    color: rgba(0, 0, 0, 0.54);
  }

  &.opened, &:hover {
    background-color: #dedede;
  }

  &:hover .drag-handle {
    visibility: inherit;
  }

  &.opened::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: #ff8f3d;
  }

  .mat-list-item-content {
    padding: 0 !important;
    font-size: 14px;
  }


  .list-title, .headline-title {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 5px;
    width: 200px;
  }

  .owner {
    width: 90px;
  }

  .list-due-date, .list-item-date {
    white-space: nowrap;
    margin: 0 5px;
    display: flex;
    align-items: center;
    flex: 0 0 38px;
    justify-content: flex-end;

    mat-icon {
      margin-right: 5px;
    }
  }

  .rock-status {
    min-width: 60px;
  }

  .drag-handle {
    visibility: hidden;
    color: #6d6c6c;
    cursor: move;
  }

}

.no-pointer {
  cursor: inherit !important;
}


/*  Drag and Drop Stuff */
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);

  & > div {
    height: 50px;
    display: flex;
    align-items: center;
  }
  .drag-handle {
    visibility: inherit;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.isag-list.cdk-drop-list-dragging .list-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.attachments {
  display: flex;
  align-items: center;
}

.attachment-list {
  .list-item {
    cursor: default;
  }
}

.attachment-title {
  margin-left: 15px;
  flex: 1;
}

.condensed-list {
  mat-list-item {
    height: 40px;
  }
}
