@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

@mixin md-icon-size($size) {
  font-size: $size;
  height: $size;
  width: $size;
}
