::ng-deep .mat-tab-header {
  position: fixed !important;
  z-index: 100;
  width: 100%;
  background-color: #fafafa;
  margin-top: -5px;
}

::ng-deep .mat-tab-body-wrapper {
  margin-top: 45px;
  padding-bottom: 65px;
}

mat-toolbar {
  padding: 0;
}

.mat-tab-nav-bar {
  flex: 1;
}


